/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$white: #fff;
$black: #000;
$lightestGray:#f5f5f5;
$aqua: #74ccac;
$aqua-med:#97dbae;
$aqua-light:#d7f4e4;
$aqua-dark: #00aca5;

// Font families
